.card {
  border: 2px solid hsl(var(--color-primary));
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  padding-block: .5rem;
  text-align: center;
  & span{
    color: hsla(var(--color-gray), 1);
  }
}
