.pie-chart-container {
  position: relative;
  margin: auto;
  height: 65vh;
  width: 65vw;
  @media screen and (max-width: 768px) {
    height: 85vh;
    width: 85vw;
  }
}

#pie-chart {
  margin-inline: auto;
}
