*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
  --border-radius: 8px;
  --color-primary: 185, 95%, 29%;
  --color-gray: 180, 8%, 33%;
}

header, main {
  padding-inline: 1rem;
  margin-inline: auto;
}

img,
video {
  max-width: 100%;
  display: block;
}

h1 {
  text-align: center;
  font-size: 3rem;
  background-color: hsl(var(--color-primary));
  color: white;
  border-radius: var(--border-radius);
  font-weight: 400;
  max-width: max-content;
  padding-inline: 3rem;
  margin-inline: auto;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
    padding-inline: 2rem;
  }
}

a {
  text-decoration: none;
  background-color: hsla(var(--color-primary), 0.5);
  color: black;
  border: solid 2px hsla(var(--color-primary), 1);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

a:hover {
  background-color: hsla(var(--color-primary), 1);
  color: white;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-block: 1rem;
  flex-wrap: wrap;
}

.pie-chart-container .tooltip:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: transparent transparent hsl(var(--color-primary)) transparent;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.line-chart-container .tooltip:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: hsl(var(--color-primary)) transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
